[user]
	email = aereal@aereal.org
	name = aereal

[gui]
	encoding = utf-8

[github]
	user = aereal

[alias]
	abort-rebase       = rebase --abort
	branch-name        = name-rev --name-only
	ci                 = commit -v
	co                 = checkout
	continue-rebase    = rebase --continue
	cp                 = cherry-pick
	df                 = diff
	ds                 = diff --staged
	fdf                = diff --function-context
	fetch-pulls        = fetch origin +refs/pull/*:refs/remotes/pull/*
	fix                = commit --amend
	gr                 = grep --heading --break
	interactive-rebase = rebase --interactive
	network            = log --graph --all --decorate --oneline
	onelog             = log --oneline
	squashed-merge     = merge --squash
	st                 = status --short --untracked-files=all
	ls                 = ls-files
	delete-branch      = branch -d

[color]
	branch      = true
	diff        = true
	grep        = true
	interactive = true
	pager       = true
	status      = true

[color "branch"]
	current = green reverse
	local   = green
	remote  = yellow

[color "status"]
	changed   = green
	untracked = cyan
	updated   = yellow

[color "grep"]
	filename   = cyan
	function   = yellow
	linenumber = yellow
	match      = yellow reverse

[color "interactive"]
	# prompt
	# header
	# help
	# error

[i18n]
	commitencoding= utf-8

[core]
	quotepath = false
	whitespace = cr-at-eol
	pager = $PAGER
	precomposeunicode = true
	excludesfile = ~/.global.gitignore

[push]
	default = simple

[branch]
	autosetuprebase = always

[grep]
	lineNumber = true

[tig]
	commit-order = topo
	tab-size = 2

[tig "bind"]
	generic = g move-first-line
	generic = G move-last-line

[rebase]
	stat = true

[diff "ruby"]
	funcname = =

[diff "perl"]
	funcname = =

[diff "gzip"]
	textconv = gzcat

[log]
	date = iso

[merge]
	stat = true

[status]
	showUntrackedFiles = all
	submodulesummary = true

[interactive]
	singlekey = true

[ghq]
	root = /Users/aereal/repos

[gitflow "branch"]
	develop = devel
[diff]
	algorithm = histogram
