[gui]
	encoding = utf-8
[user]
	email = aereal@kerare.org
	name = aereal
[github]
	user = aereal
[alias]
	st = status -sb
	df = diff
	co = checkout
	fixup = commit --amend -C HEAD
	svn-push = !git stash && git svn dcommit && git stash pop
	svn-pull = !git stash && git svn rebase && git stash pop
	onelog = log --oneline
	squashed-merge = merge --squash
	track = checkout -t
	unstage = reset HEAD --
	fdf = diff -W
	diff-funcon = diff -W
	diff-funcon-staged = diff --cached -W
	ds = diff --staged
	network = log --graph --all --decorate --oneline
	summary = status --short --branch
	vizlog = log --graph --date-order -C -M --all --pretty=format:\"<%h> %ad [%cn] %Cgreen%d%Creset %s\"
[color]
	diff = auto
	branch = auto
	status = auto
	interactive = auto
	grep = auto
[color "branch"]
	current = blue reverse
	local = green
	remote = red
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "diff"]
	commit = black white bold
	meta = blue
	frag = black
	old = red
	new = green
[i18n]
	commitencoding= utf-8
[core]
	editor = vim -u NONE -i NONE -N -c 'syntax on'
	quotepath = false
	whitespace = cr-at-eol
	pager = less --RAW-CONTROL-CHARS
[push]
	default = tracking
[branch]
	autosetuprebase = always
[gitflow "branch"]
	develop = devel
[grep]
	lineNumber = true
