snippet link
	[${1:#:title}](${2:#:url})

snippet link_paste
	[${1}](`getreg('+')`)

snippet image
	![${1:#:alt text}](${2:#:url})

snippet image_paste
  ![${1}](`getreg('+')`)

snippet     README
options     head
	# ${1:NAME}

	${2:DESCRIPTION}

	## Usage

	${3:USAGE}

	## License

	${4:LICENSE}

# vim:set ft=neosnippet noexpandtab:
