# RSpec
snippet desc
	describe ${1:object} do
		${2}
	end
snippet it
	it "${1:description}" do
		${2}
	end
snippet cont
	context "${1:case}" do
		${2}
	end
snippet bef
	before do
		${1}
	end
snippet befe
	before :each do
		${1}
	end
snippet befa
	before :all do
		${1}
	end
snippet aft
	after do
		${1}
	end
snippet afte
	after :each do
		${1}
	end
snippet afta
	after :all do
		${1}
	end
snippet subj
	subject do
		${1}
	end

